<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> IITP_Inventory </title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'iitp_connect/iitp.ico' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css' >
    <link rel="stylesheet" type="text/css" href="{% static 'iitp_connect/styles.css' %}"   />
</head>
<body>
    <h1 style="font-size: 220%; font-family: 'Satisfy',cursive" align="center">IITP_Connect</h1>
    <p style="font-size: 140%" align="center">An online portal for buying/selling, lost/found items and CabShare.</p>
</body>
</html>

